
.App{
    display: flex;
    max-width:1500px;
    margin: 0 auto;
    flex-direction: column;
}
.header{
    display: flex;
    font-family: Arial, serif;
    background-color: #DCDFF4;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0.4em;
}
.header h1{

    font-size: 3em;
    font-family: Arial, serif;
    color:#16395B;
    margin: 0;
}
.sort{
    align-self: center;
    font-size:1.3em;
}
.sort select{
    font-size: 0.8em;
    padding:0.5em;
}
.track{
    display: flex;
    background-color: white;
    color:#16395B;
    padding: 1em;
    margin: 0 1em;
    border-bottom: 2px solid #212944;
}

.track:hover{
    background-color: #DCDFF4;
}
.ranking{
    font-family: Montserrat, serif;
    font-size: 1.5em;
    font-weight: bolder;
    flex-basis: 50%;
}
.name{
    font-size:1.6em;
    font-family: Arial, serif;

}
.list{
    margin:0;
    padding:0;
    list-style-type: none;
}

.loading{
    font-size: 2em;
    margin:10% auto;
    text-align: center;
}
.error{
    background-color: #dc3333;
    color: #16395B;
    width: 40%;
    border: 2px solid darkred;
    border-radius: 2em;
    padding: 2em;
    font-size: 2em;
    margin:10% auto;


    text-align: center;
}


